PADDLE_ENVIRONMENT=sandbox
PADDLE_API_KEY=
PADDLE_CLIENT_TOKEN=
PADDLE_PRICE_ID=
PADDLE_WEBHOOK_SECRET=
LICENSE_SECRET=
OWNER_LICENSE_ADMIN_TOKEN=
ADMIN_USERNAME=admin
ADMIN_PASSWORD_HASH=
RELEASE_UPLOAD_TOKEN=
